<div class="home-container">
  <mat-grid-list cols="1" rowHeight="auto">
    <mat-grid-tile>
      <mat-card class="hero-card">
        <img src="public/tienda.png" alt="Bienvenido a Nuestra Tienda" class="banner-img">
        <mat-card-title>Bienvenido a Nuestra Tienda</mat-card-title>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="info-card">
        <mat-card-title>Sobre Nosotros</mat-card-title>
        <mat-card-content>
          <p>Somos una tienda comprometida con ofrecer productos de calidad al mejor precio.</p>
          <p>Descubre nuestras <a routerLink="/productos">novedades</a> y contacta con nosotros en la <a routerLink="/contacto">sección de contacto</a>.</p>
          <p>También puedes explorar nuestras secciones internas:</p>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
