
.seccion1 {
    padding: 20px;              
    background-color: #add8e6;  
  }
  
  
  .seccion2 {
    padding: 10px 15px 20px 25px; 
    background-color: #90ee90;    
  }
  
  
  .seccion3 button {
    padding: 30px 50px;           
    background-color: #ffcccb;    
  }
  